# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
.eggs/

# Environments
.venv/
.env/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Project outputs
outputs/
